.button {
  background-color: #0074d9;
  border-radius: .25rem;
  border: solid black .1rem;
  color: #fff;
  outline: none;
  padding: .5rem .75rem;
}

/* Modal */
#open-modal {
  position: absolute; right: 1rem; top: 1rem; z-index: 1000;
  text-decoration: none;
}

/* Sticky */
#sticky {
  height: 400vh;

  #section-1 {
    background-color: #ccc;
    height: 50vh;

    h2 {
      background-color: rgba(64, 64, 64, .65);
      color: white;
      padding: .5rem 1rem;
    }
  }
}
