#open-modal {
  position: absolute; right: 1rem; top: 1rem; z-index: 1000;
  text-decoration: none;
}
.button {
  background-color: #0074d9;
  border-radius: .25rem;
  border: solid black .1rem;
  color: #fff;
  outline: none;
  padding: .5rem .75rem;
}
